@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../fontes/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --cor0: #A9E1CA;
    --cor1: #63DBAA;
    --cor2: #4CA882;
    --cor3: #295C47;
    --cor4: #455C52;    

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'BebasNeue-Regular', sans-serif;
    --fonte-android: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 180px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.308);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding: 0px 10px 0px 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.308);
}

nav {
    background-color: var(--cor4);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
    padding: 10px;
}

nav > a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: .5s;
}

    nav > a:hover {
        background-color: var(--cor1);
        color: var(--cor4);
        border-radius: 5px;
        padding: 9px;
    }

main {
    background-color: white;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
}

main h1 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    margin-top: 10px;
    font-size: 1.8;
    font-weight: normal;
}

main h2 {
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-size: 1.3em;
    font-family: var(--fonte-android);
    text-indent: 8px;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor3);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

a.externo::after {
    content: '\00A0\1F517';
}

main img {
    width: 100%;
}

main img.img-pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.videos {
    background-color: var(--cor3);
    margin: 0px -15px 30px -15px;
    padding: 20px;

    padding-bottom: 58%;
    position: relative;
}

div.videos > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.24);
}

aside > h3 {
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor3);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #63DBAA;
    text-decoration: underline;
}



